<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eventsheet">

    <uses-sdk tools:overrideLibrary="com.github.dhaval2404.imagepicker" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".EventSheet"
        >
        <activity android:name=".CreateEvent"></activity>
        <activity android:name=".Search_filter" />
        <activity android:name=".Support" />
        <activity android:name=".About_us" />
        <activity android:name=".Privacy_policy" />
        <activity android:name=".Settings" />
        <activity android:name=".Change_password" />
        <activity android:name=".Personal_data" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme_ForAppBar" />
        <activity
            android:name=".My_Events"
            android:theme="@style/AppTheme_ForAppBar" />
        <activity
            android:name=".Search_map"
            android:theme="@style/AppTheme_ForAppBar" />
        <activity
            android:name=".Search"
            android:theme="@style/AppTheme_ForAppBar" />
        <activity android:name=".All_event_map" />
        <activity android:name=".All_Events" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme_ForAppBar" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Event_details" />
        <activity android:name=".Login" />
        <activity android:name=".create_new_account" />
        <activity android:name=".Splach">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyQTJ0lxlWY9us9ObmY6nDUA9LxbCAjzw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>